body {
    background: linear-gradient(white, #24BAFA);
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .flexybox {
    display:flex;
    width: 100%;
    margin-top: 1%;
  }
  
  .headerWithLogo {
    display:flex;
    width: 100%;
    justify-content:center;
  }
  
  .vital {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
  }
  
  .vibe {
    font-family: 'Jua', sans-serif;
    font-size: 37px;
  }
  
  .headerLogo {
    margin-left: 5px;
    text-align: center;
  }
  
  .fa-house {
    text-align: left;
    font-size: 30px;
    margin-left: 1%;
    margin-top: 1%;
    width: 100%;
    cursor: pointer;
  }
  
  .fa-user {
    text-align: right;
    font-size: 30px;
    width: 100%;
    margin-right: 1%;
    margin-top: 1%;
    cursor: pointer;
  }

  .mainBox {
    margin: auto;
    background-color: white;
    border: solid black 2px;
    width: 95%;
    height: 75%;
    margin-top: 3%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.topHeader {
    font-size: 24px;
    font-family: 'Jua', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.contactBtn {
    display: block;
    padding: 10px 20px;
    background-color: black;
    border: solid 2px black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width:15%;
    margin: 0 auto;

}

.contactBtn:hover {
    background-color: white;
    color: black;
}

.logoBigger {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    text-align: right;
    float: right;
    margin-right: 20px;
}