body {
  background: linear-gradient(white, #24BAFA);
  background-attachment: fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flexybox {
  display:flex;
  width: 100%;
  margin-top: 1%;
}

.headerWithLogo {
  display:flex;
  width: 100%;
  justify-content:center;
}

.vital {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
}

.vibe {
  font-family: 'Jua', sans-serif;
  font-size: 37px;
}

.headerLogo {
  margin-left: 5px;
  text-align: center;
}

.fa-house {
  text-align: left;
  font-size: 30px;
  margin-left: 1%;
  margin-top: 1%;
  width: 100%;
  cursor: pointer;
}

.fa-user {
  text-align: right;
  font-size: 30px;
  width: 100%;
  margin-right: 1%;
  margin-top: 1%;
  cursor: pointer;
}

.mainBox {
  margin: auto;
  background-color: white;
  border: solid black 2px;
  width: 95%;
  height: 75%;
  margin-top: 3%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

.topHeader {
  display: flex;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.fa-utensils {
  font-size: 32px;
  color: #C13331;
}

.container {
  margin-top: 2%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

h3 {
  font-weight: bold;
  font-size: 18px;
}

p {
  font-size: 16px;
}

.viewButton {
  background-color: #C13331;
  color: white;
  font-weight: bold;
  border: none;
  width: 100%;
  padding: 5px 0 5px 0;
  margin-bottom: 2%;
}

.viewButton:hover, .filterButton:hover {
  background-color: #b73331;
}

.col {
  border: solid 2px #C13331;
  margin-right: 10px;
}

.row { 
  margin-bottom: 10px;
}

.searchSection {
  display: flex;
  width: 96%;
  margin: 10px 10px 0 10px;
  gap: 10px;
}

.searchParam {
  display: flex;
  width: 100%;
  gap: 5px;
}

.fa-magnifying-glass {
  color:#C13331;
  font-size: 25px;
}

.searchInput {
  border-color:#C13331;
  width: 100%;
}

.filterButton {
  background-color: #C13331;
  color: white;
  font-weight: bold;
  border: none;
  width: 20%;
  padding: 5px 0 5px 0;
}

.fa-share-nodes {
  color: #C13331;
  text-align: right;
  font-size: 25px;
  width: 100%;
  cursor: pointer;
}

.recipeImg {
  height: 125px;
  width: 225px;
}

.pRecipe {
  line-height: 2px;
}

h3 {
  line-height: 40px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 4% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #C13331;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Customize the label (the container) */
.checks {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

/* Hide the browser's default checkbox */
.checks input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filterHeader {
  font-size: 20px;
  font-weight: bold;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* On mouse-over, add a grey background color */
.checks:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a red background */
.checks input:checked ~ .checkmark {
  background-color: #C13331;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checks input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checks .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.saveBtn {
  width: 100%;
  background-color: #C13331;
  border:solid #C13331 2px;
  color: white;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
}

.btnBox {
  display: flex;
  width: 100%;
}

.cancelBtn {
  width: 100%;
  background-color: white;
  border:solid #C13331 2px;
  color: black;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
}