body {
  background: linear-gradient(white, #24BAFA);
  background-attachment: fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--text-size, 16px);
}

body, html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


.flexybox {
  display:flex;
  width: 100%;
  margin-top: 1%;
}

.headerWithLogo {
  display:flex;
  width: 100%;
  justify-content:center;
}

.vital {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
}

.vibe {
  font-family: 'Jua', sans-serif;
  font-size: 37px;
}

.headerLogo {
  margin-left: 5px;
  text-align: center;
}

.fa-house {
  text-align: left;
  font-size: 30px;
  margin-left: 1%;
  margin-top: 1%;
  width: 100%;
  cursor: pointer;
}

.fa-user {
  text-align: right;
  font-size: 30px;
  width: 100%;
  margin-right: 1%;
  margin-top: 1%;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-around;
}

h2 {
  font-weight: bold;
}

.profile-details, .accessibility {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  width: 45%; 
  box-sizing: border-box;
}


button {
  display: block;
  margin-top: 20px;
}

input[type="range"] {
  width: 100%;
}

input[type="checkbox"] {
  margin-left: 10px;
}

.slider-marks {
  display: flex;
  justify-content: space-between;
  padding: 0 15px; 
}

.slider-marks span {
  display: block;
}

.slider-marks span:nth-child(1) { font-size: 10px; } 
.slider-marks span:nth-child(2) { font-size: 12px; }
.slider-marks span:nth-child(3) { font-size: 14px; } 
.slider-marks span:nth-child(4) { font-size: 16px; }
.slider-marks span:nth-child(5) { font-size: 18px; } 


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #012949;
}

input:focus + .slider {
  box-shadow: 0 0 1px #012949;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.health-log {
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  box-sizing: border-box;
}

.log-section h3 {
  margin-bottom: 10px;
}

.log-section p {
  margin-left: 20px;
}

.back {
  display: flex;
  gap: 15px;
}

.fa-chevron-left {
  font-size: 25px;
  margin-top: 8px;
  cursor: pointer;
}

#health-log {
  background-color: black;
  font-weight: bold;
  color: white;
}