body {
  background: linear-gradient(white, #24BAFA);
  background-attachment: fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flexybox {
  display:flex;
  width: 100%;
  margin-top: 1%;
}

.headerWithLogo {
  display:flex;
  width: 100%;
  justify-content:center;
}

.vital {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
}

.vibe {
  font-family: 'Jua', sans-serif;
  font-size: 37px;
}

.headerLogo {
  margin-left: 5px;
  text-align: center;
}

.fa-house {
  text-align: left;
  font-size: 30px;
  margin-left: 1%;
  margin-top: 1%;
  width: 100%;
  cursor: pointer;
}

.fa-user {
  text-align: right;
  font-size: 30px;
  width: 100%;
  margin-right: 1%;
  margin-top: 1%;
  cursor: pointer;
}

.mainBox {
  margin: auto;
  background-color: white;
  border: solid black 2px;
  width: 95%;
  height: 75%;
  margin-top: 3%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topHeader {
  display: flex;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.fa-bed {
  font-size: 32px;
  color: #53C5BB;
}

.timeInput {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  gap: 75px;
  font-size: 18px;
}

.timeInput input {
  border-color: #53C5BB;
}

.textStuff {
  font-size: 18px;
  text-align: center;
  margin-top: 4%;
}

.weeklyScroll {
  display: flex;
  width: 95%;
  justify-content: center;
  gap: 75px;
  margin-top: 2%;
  text-align: center;
}

.fa-caret-left {
  font-size: 22px;
  cursor: pointer;
}

.weekDay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  height: 100%;
}

.day {
  border: dotted 2px #53C5BB;
  width: 55px;
}

.submitTime {
  border: solid 3px #53C5BB;
  background-color: white;
  color: black;
  font-weight: bold;
}